body {
    background-color: aqua;
    text-align: center;
}

img {
    width: fit-content;
    height: 300px;
    margin: 10px;

}

button {
    display: block;
    margin: 10px auto;
    font-size: 30px;
    
}

#CountDown {
    font-size: 32px;
}